<div>

    <div class="row align-items-start">
        <h2>Action Failed. Please try again with valid data.</h2>
    </div>

    <div class="row align-items-start">
        <a asp-action="Index">Back to List</a>
    </div>

</div>