
@{
    ViewData["Title"] = "DupeBook";
}


<div>

    <div class="row align-items-start">
        <h2>Book Name already exists in the database. Try another Book Name.</h2>
    </div>

    <div class="row align-items-start">
        <a asp-action="Index">Back to List</a>
    </div>

</div>
