@model BookWebApp.ViewModels.HomeViewModel

<div>

    <div class="row">
        <div class="col align-self-center">
            <h2>Edit Record</h2>
        </div>
    </div>

    <div class="row align-items-start">
        <form asp-action="EditBook" method="post" class="form-horizontal" role="form">

            <!--Display Validation Error Messages based on model-->
            <div asp-validation-summary="All" class="text-danger"></div>

            <!--Form Labels and input boxes for saving a book to the database-->
            <div class="form-group">
                <label asp-for="Book.Id" class="col-md-auto control-label">Book Id</label>
                <div class="col-md-auto">
                    <input asp-for="Book.Id" class="form-control" readonly>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Book.BookName" class="col-md-auto control-label">Book Name</label>
                <div class="col-md-auto">
                    <input asp-for="Book.BookName" class="form-control" />
                    <span asp-validation-for="Book.BookName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Book.AuthorName" class="col-md-auto control-label">Author Name</label>
                <div class="col-md-auto">
                    <input asp-for="Book.AuthorName" class="form-control" />
                    <span asp-validation-for="Book.AuthorName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Book.Price" class="col-md-auto control-label">Price $</label>
                <div class="col-md-auto">
                    <input asp-for="Book.Price" class="form-control" />
                    <span asp-validation-for="Book.Price" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="Book.Publisher" class="col-md-auto control-label">Publisher</label>
                <div class="col-md-auto">
                    <select asp-for="Book.Publisher" class="custom-select custom-select-lg">
                        <option selected>Choose a Publisher from this List</option>
                        <option value="Penguin Random House">Penguin Random House</option>
                        <option value="Hachette Livre">Hachette Livre</option>
                        <option value="Springer Nature">Springer Nature</option>
                        <option value="Simon & Schuster">Simon & Schuster</option>
                        <option value="Harper Collins">Harper Collins</option>
                    </select>
                    <span asp-validation-for="Book.Publisher" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Book.Date" class="col-md-auto control-label">Date Originally Added</label>
                <div class="col-md-auto">
                    <input asp-for="Book.Date" class="form-control" readonly>
                </div>
            </div>



            <!--Button to Update Book Data in the database-->
            <div class="form-group">
                <div class="col-md-offset-6 col-md-auto">
                    <input type="submit" class="btn btn-primary" value="Update Book Record" />
                </div>
                <div class="col-md-offset-6 col-md-auto">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>

        </form>

    </div>

</div>
